* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #282623;
    padding: 0;
    margin: 0;
    
}

#header {
    background-color: #0e9281b9;
    color: #EDF5E1;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    width: 100%;

}

button {
    width: 200px;
    height: 200px;
    border: none;
}

#text {
    color: #EDF5E1;
    text-align: center;
    padding-top: 30px;
    font-family: fantasy;
    font-size: 40px;
}

#computerAnswer {
    color: #EDF5E1;
    text-align: center;
    padding-top: 30px;
    font-family: fantasy;
    font-size: 40px;
}

#result {
    color: #EDF5E1;
    text-align: center;
    padding-top: 30px;
    font-family: fantasy;
    font-size: 40px;
    padding-bottom: 30px;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    background-color: #282623;
    justify-content: center;
    padding-top: 20px;
    font-family: fantasy;
    
    
}

.choices > button {
    margin: 10px;
    align-self: auto;
}

#rock:hover {
    background-color: #0e9281b9;
    transform: scale(1.1);
    transform: rotate(20deg)
}

#paper:hover {
    background-color: #0e9281b9;
    transform: scale(1.1);
    transform: rotate(20deg)
}

#scissors:hover {
    background-color: #0e9281b9;
    transform: scale(1.1);
    transform: rotate(20deg)
}

